<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1048940901363-siasfouf8arp8pl1kj5hqi9kuohv5bi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048940901363-siasfouf8arp8pl1kj5hqi9kuohv5bi4</string>
	<key>API_KEY</key>
	<string>AIzaSyAxtJ_FlwJ4f3LfJBELCP3n33z6wq0LPb8</string>
	<key>GCM_SENDER_ID</key>
	<string>1048940901363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mbpos.ios</string>
	<key>PROJECT_ID</key>
	<string>mbpos-ed4e2</string>
	<key>STORAGE_BUCKET</key>
	<string>mbpos-ed4e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048940901363:ios:b9100814318d589e</string>
	<key>DATABASE_URL</key>
	<string>https://mbpos-ed4e2.firebaseio.com</string>
</dict>
</plist>